@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

html, body {
  height: 100%;
  margin: 0;           
}

.setup-page {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
#bg-video {
  position:absolute;
  top: 0;
  left:0;
  width: 100%;
  height:100%;
  object-fit: cover;
  z-index:-1
}
.header1 {
  padding-bottom: 5px;
}
.setup-form {
  position: relative;
  z-index:1;  
  max-width: 380px;
  margin: 150px 10px 50px 35%;
  padding: 16px;
  background-color: #6b6666;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-family: 'Press Start 2P', cursive; /* Use the pixel font here */
  padding-top: 10px;
  height: 450px;
  display: flex;
  flex-direction: column;
  justify-content: center; 

}
.setup-form h2 {
  text-align: center;
}
.setup-form label {
  display: block;
  margin-bottom: 12px;
}
.setup-form button {
  width: 95%;
  padding: 8px;
  background: #af3b3b;
  color: white;
  border:none;
  border-radius: 4px;
  font-family: "Press Start 2P", cursive;
  transition: background-color 0.25s, transform 0.25s;
  margin:0 auto;
  cursor: pointer;

}
.setup-form button:hover {
  background-color: #d94141; /* a slightly lighter/different shade */
  transform: scale(1.05);     /* enlarge a bit */
}
.setup-form input,
.setup-form select {
  width: 100%;
  padding: 6px;
  margin-top: 4px;
  margin-bottom: 12px;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-family: 'Press Start 2P', cursive;
  background-color: #f9f9f9;
  transition: border-color 0.25s, box-shadow 0.25s;
}
.setup-form input:focus,
.setup-form select:focus {
  outline: none;
  border-color: #0070f3;
  box-shadow: 0 0 5px rgba(0,112,243,0.5);
}

.setup-form input.penalty-number {
  width:80px;
}
  
 